*{
    padding: 0;
    margin: 0;
}

/* common button */
.common-btn{
    padding: 10px 15px;
    background-color: rgba(232, 186, 46, 1);
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
}

.nav-items ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding-right: 380px;
}
.nav-items a{
    text-decoration: none;
}



nav .common-btn span{
    margin: 5px;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./image/Background.png");
    background-position: center;
    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
}

.header-content{
    margin-left: 50px;
    padding-top: 150px;
}

.header-content h1{
    font-size: 50px;
}

.header-content .header-content-pera{
    margin-top: 15px;
    margin-bottom: 40px;
}